.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading{
  max-width: 30%;
  height: 50vh;
  object-fit: contain;
}

.intro{
  margin-top: 30px;
  padding: 30px 20px;
  font-family: Helvetica Neue;
  height: 100vh;
}

.intro img{
  max-width: 50vw;
  max-height: 60vh;
}

.intro h2{
  /*color: rgb(40, 250, 54);*/
  margin-top: 30px;
  color: #35e01f;
}

.btn{
  display: flex;
  justify-content: space-around;
}

.btn button{
  background-color: transparent;
  color: #35e01f;
  padding: 10px 50px;
  border: none;
}

.btn button:hover{
  background-color: #35e01f;
  color: white;
  border-radius: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.on{
  background-color:#35e01f;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
}

.signup h2{
  color: black;
}

.signup-btn p{
  font-weight: bold;
}

.signup-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.signup-btn button{
  background-color: transparent;
  border: 1px solid #e6e6e6;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text{
  padding-left: 10px;
}

.signup-btn .sign-in{
  background-color: #35e01f;
  border-radius: 30px;
  color: white;
  padding: 10px 5px;
}

.no-acc{
  color: #7d7d7d;
}

.no-acc span{
  color:  #35e01f;
  font-weight: bold;
  cursor: pointer;
}

.SignUp2{
  height: 100vh;
  text-align: center;
}
.SignUp2 h2{
  color: #35e01f;
  margin-top: -10px;
}
.people2{
  height: 20vh;
  margin-top: -50px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h2{
  color: black;
  margin-top: 10px;
}

.form {
    margin-top: 20px;
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);*/
}

.form--input {
    text-indent: 10px;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #35e01f;
    border: none;   
    cursor: pointer; 
}

.form--input:focus{
    outline: 2px solid #35e01f;
}

.form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form--marketing > input {
    margin-right: 10px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    margin: 0 30vw;
}

.forget{
    color: #35e01f; 
    cursor: pointer;
}

.back{
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 20px;
}


.back h2{
  margin: 0;
  color: black;
  padding-left: 20px;
  /*font-family: Helvetica Neue;*/
  font-family: sans-serif;
}


.back h3{
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.method{
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #05f020;
}
.method:focus{
  outline: 2px solid #05f020;
  background-color: transparent;
}

.logo-back{
  background-color: #F7F7F7;
  border-radius: 100%;
  padding: 10px;
}

.method-txt{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: flex-start;
}

.forgot-end{
  margin-top: 10vh;
}
.nxt{
  border: 1px solid;
  padding: 10px;
  border-radius: 25px;
  color: white;
  background-color: #35e01f;
  width: 100%;
}

.resend .back{
  margin-bottom: 20vh;
}

.resend .forgot-end{
  position: fixed;
  width: 80%;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;

}

.code-slot button{
  border: 1px solid #05f020;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

.code-slot span{
  color: #05f020;
}

.ready{
  margin-top: 20vh;
}

.ready .nxt{
  margin-top: 50px;
}



.select-country{
  padding: 20px;
}

.country{
  font-size: 20px;
}


.country.highlight {
  outline: 1px solid #05f020;
  background-color: transparent !important;
}

.country-list .country{
  margin: 10px;
  border: 1px solid #bcb3b3;
  border-radius: 10px;
}

.home-page button{
  margin-top: 10vh;
}

.home-page .nxt{
  margin-top: 40vh;
}

/*.profile */.user,.user-2{
  background-color: #f1eeee;
  margin: 0 auto;
  padding: 30px;
  border-radius: 50%;
  width: 10vw;
  position: relative;
  object-fit: contain;
}

.user-icon{
  /*visibility: hidden;*/
}

.user-2{
  background-image: url(./image/dp.jpg);
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  height: 10vw;
  position: relative;
}

.user-pen{
  background-color: #35e01f;
  position: absolute;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
}

.user-detail{
  margin: 20px 0;
}

.user-input{
  border: 1px solid #35e01f;
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 20px;
}


.user-input:not(:last-child){
  margin-bottom: 10px;
}

.user-input input{
  border: none;
  background-color: transparent;
  text-indent: 5px;
  outline: none;
  font-family: Helvetica Neue;
  width: 100%;
}

.profile .nxt{
  width: 80%;
}

.interests{
  display: grid;
  grid-template: auto/auto auto auto;
  grid-gap: 15px;
}

.interests button{
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}

.interest .nxt{
  margin-top: 20px;
}

.create{
  padding: 50px;
  position: relative;
}

.create h2{
  color: black;
  font-family: sans-serif;
}

.create:not(:first-child) *{
  padding: 5px;
}

.great{
  background-color: white;
  padding: 20px 10px;
  width: 80%;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.great .nxt{
  width: 60%;
}

.great > div{
  background-color: #35e01f;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
  width: 10vw;
}

.success {
  background-blend-mode: darken;
  opacity: 0.3;
  filter: grayscale(10%) blur(1px) brightness(100%);
}

.home{
  background-color: red;
}

.home-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-top1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-top1 h1{
  font-family: Helvetica Neue;
  padding-left: 10px;
}

.home-top2 *{
  margin: 0 2px;
  /*background-color: #A6F7C2;*/
  /*background-color: #D1FFE1;*/
  background-color: #D8FDE1;
  border: transparent;
  border-radius: 5px;
  padding: 3px;
}

.home-mid{
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  justify-content: space-around;
}

.home-mid > button{
  color: red;
  padding: 5px 20px;
  border: 2px solid #35e01f;
  border-radius: 15px;
  color: #35e01f;
  background-color: white;
}

.wallet{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wallet button{
  background-color: #D8FDE1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  border: none;
}

.wallet > div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.wallet > div > p{
  margin-top: 0;
  color: grey;
}

.help{
  margin-top: 20px;
  background-image: url(./image/baby.jpg);
  height: 30vh;
  border-radius: 10px;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  filter: brightness(80%);
}

.help > p{
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  font-family: Helvetica Neue;
}

.help > div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

.urgent-top, .coming-top, .watch-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}


.urgent-top h3, .coming-top h3, .watch-top h3{
  width: 85%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urgent-top h5, .coming-top h5, .watch-top h5{
  color: #35e01f;
}

.urgent-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.urgent-btn button:first-child{
  color: white;
  border: 1px solid transparent;
  border-radius: 15px;
  width: 50%;
  margin: 0 5px;
  background-color: #35e01f;
}

.urgent-btn button:not(:first-child){
  margin: 0 5px;
  width: 50%;
  background-color: white;
  color: #35e01f;
  border-radius: 15px;
  border: 1px solid #35e01f;
}

.urgent-card{
  margin-top: 20px;
  box-shadow: 5px 5px 20px #aeeabd;
  border-radius: 10px;
}

.urgent-img{
  background-image: url(./image/orphan.jpg);
}

.bookmark-img{
  background-image: url(./image/patient.jpg);
}

.bookmark-img2{
  background-image: url(./image/student.jpg);
}


.urgent-img, .bookmark-img, .bookmark-img2{
  background-position: 50% 50%;
  object-fit: contain;
  position: relative;
  background-size: cover;
  height: 30vh;
  border-radius: 10px 10px 0 0;
}

.urgent-mark, .coming-mark, .bookmark-mark{
  position: absolute;
  top: 10%;
  right: 5%;
  /*background-color: #35se01f;*/
  padding: 5px;
  border-radius: 10px;
}

.urgent-note span, .coming-note span, .bookmark span{
  margin-left: -50px;
  color: #35e01f;
}


.urgent-note h3, .coming-note h3{
  text-align: left;
  text-indent: 10px;
}

.bookmark-note h3{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.urgent-bar, .coming-bar, .bookmark-bar{
  margin: 0 auto;
  width: 85%;
  border-radius: 5px;
  height: 5px;
  background: linear-gradient(90deg, #35e01f,#d6ffed);
}

.urgent-end, .coming-end, .bookmark-end{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*text-indent: -10px;*/
  margin: 0 -10px;
}

.urgent-end span, .coming-end span, .bookmark-end span{
  color: #35e01f;
}

.coming-card, .prayer-card{
  border-radius: 10px;
  border: 1px solid black;
}

.coming-img{
  height: 30vh;
  background-image: url(./image/quake.jpg);
  background-position: 50% 50%;
  object-fit: contain;
  position: relative;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.watch-video{
  display: grid;
  grid-template: auto/auto auto;
  grid-gap: 10px;
}

.watch-main-video{
  display: grid;
  grid-template: auto/auto auto;
  grid-gap: 15px;
}

.watch-play{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.watch-txt{
  color: white;
  position: absolute;
  bottom: 5%;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.watch1, .watch2, .watch-main, .watch-main2, .watch-main3, .watch-main4, .watch-main5, .watch-main6{
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  object-fit: contain;
  border-radius: 20px;
}

.watch1, .watch2{
  height: 30vh;
}

.watch-main{
  height: 50vh;
}

.watch1{
  background-image: url(./image/baby.jpg);
}

.watch2{
  background-image: url(./image/baby2.jpg);
}

.watch-main{
  background-image: url(./image/mal.jpg);
}

.watch-main2{
  background-image: url(./image/baby.jpg);
}

.watch-main3{
  background-image: url(./image/baby2.jpg);
}

.watch-main4{
  background-image: url(./image/patient.jpg);
}

.watch-main5{
  background-image: url(./image/orphan.jpg);
}

.watch-main6{
  background-image: url(./image/can.jpg);
}



.prayer-top{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  margin: 0 10px;
}

.prayer-detail{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.prayer-img{
  height: 10vh;
  width: 15vw;
  background-image: url(./image/dp.jpg);
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.prayer-profile{
  margin-bottom: 10px;
   
}

.prayer-profile h6{
  margin-bottom: 5px;
}

.prayer-profile span{
  color: grey;
  margin-right: 20px;
}


.prayer-comment{
  text-align: left;
  margin: 0 10px;
}

.prayer-like{
  display: flex;
}

.prayer-like div{
  margin: 10px;
  display: flex;
  align-items: center;
}

.prayer-like p{
  margin-left: 5px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -10%);
}

.menu *{
  background-color: #eff1ef;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

.menu *:first-child {
  background-color: #0da542;
}

.notification, .bookmark{
  margin-top: -10vh;
  height: 100vh;
  position: relative;
}

.notification-top, .bookmark-top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.notification-top .back, .bookmark-top .back{
  margin: 0;
}

.notification-top h1, .bookmark-top h1{
  margin-left: 10px;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

.notify-null-main, .bookmark-null-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*width: 60vw;*/
}

.notify-null-main p, .bookmark-null-main p{
  color: #35e01f;
}

.bell, .book{
  background-color: #35e01f;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
  width: 10vw;
}

.notify,.book{
  /*text-align: left;*/ 
}

.notify-bar{
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.notify-bar h5{
  margin-bottom: 10px;
}

.notify-bar p{
  margin-top: 0px;
  color: grey;
}

.notify-logo{
  background-color: #35e01f;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 15px;
}

.cancel{
  background-color: #f02828;
}
.new{
  background-color: #ffd500;
}

.dot3{
  background-color: #D8FDE1;
  border: transparent;
  border-radius: 5px;
  padding: 3px;
}

.bookmark-btn button{
  background-color: white;
  color: #35e01f;
  width: 20%;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid #35e01f;
}

.bookmark-btn button:first-child{
  color: white;
  background-color: #35e01f;
  border: 1px solid transparent;
}

.bookmark-card{
  margin-top: 20px;
  border-radius: 10px;
}

/*.bookmark-card:not(:first-child){
  background-color: blue;
}*/

.remove{
  position: relative;
}

.remove-main{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -20%);
  background-color: gold;
  /*background-color: white;*/
  border-radius: 20px;
  width: 100%;
  padding: 5px 10px;
}

.remove-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.remove-btn button:first-child{
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  width: 40%;
  color: #35e01f;
  border: 1px solid #35e01f;
}

.remove-btn button:last-child{
  background-color: #35e01f;
  padding: 5px 10px;
  border-radius: 20px;
  width: 40%;
  color: white;
  border: 1px solid transparent;
}

.search{
  margin-top: -10vh;
}

.search-max{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.search-min{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 5px;
  background-color: #F7F7F7;
}

.search-min input{
  border: none;
  background-color: transparent;
  color: black;
}

/*.search-min input::placeholder{
  color: #ffd500;
}*/

.search-min input:focus{
  outline: none;
}

.search-txt{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.search-txt P:first-child{
  color: lightgrey;
}
.search-txt p:last-child{
  color: #35e01f;
}

.search-null-main{
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-null-main .book{
  text-align: center;
}

.search-null-main h4{
  color: #35e01f;
}

.search-result{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid lightgrey;
  overflow: hidden;
}

.search-img, .search-img2, .search-img3, .search-img4, .search-img5, .search-img6, .search-img7, .search-img8{
  position: relative;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  height: 35vh;
  width: 30vw;
  /*border-radius: 10px 0 0 10px;*/
}

.search-img{
  background-image: url(./image/mal.jpg);
}

.search-img2{
  background-image: url(./image/can.jpg);
}

.search-img3{
  background-image: url(./image/baby.jpg);
}

.search-img4{
  background-image: url(./image/volcano.jpg);
}

.search-img5{
  background-image: url(./image/flood1.jpg);
}

.search-img6{
  background-image: url(./image/poor.jpg);
}

.search-img7{
  background-image: url(./image/baby2.jpg);
}

.search-img8{
  background-image: url(./image/flood2.jpg);
}

.search-detail{
  width: 55vw;
  height: 35vh;
  /*background-color: red;*/
  overflow: hidden;
  border-radius: 10px;
}

.search-result:not(:last-child){
  margin-bottom: 10px;
}

.search-bar-min .urgent-bar{
  background: linear-gradient(90deg, #35e01f,#d6ffed 40%);
}

.search-note h3{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.search-note span{
  color: #35e01f;
}

.search-note p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px;
}

.search-fund{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-detail .urgent-bar{
  width: 95%;
}

.search-detail .urgent-end{
  justify-content: space-between;
  /*margin: 0 10px;*/
}

.search-detail .urgent-end p{
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.urgent2 .search-max{
  justify-content: space-between;
}

.coming2 .urgent-btn, .urgent2 .urgent-btn{
  margin: 10px 0;
}

.watchfull{
  position: relative;
  background-image: url(./image/baby.jpg);
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 20px;
  height: 100vh;
  /*width: 90vw;*/
  border-radius: 10px;
}

.watchfull .back{
  position: absolute;
  top: 5%;
}

.watchfull .urgent-bar{
  background: linear-gradient(90deg, #35e01f,#d6ffed 40%);
}


.watchfull-end{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 0%;
  width: 90vw;
}

.watchfull-note{
  position: absolute;
  bottom: 10%;
  text-align: left;
  text-indent: 20px;
  color: white;
  width: 100%;
}

.watchfull-end div:first-child{
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.watchfull-end div:nth-child(2){
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.watchfull-end div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 10px;
}

.prayer2-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prayer2-top *{
  margin:0 2px;
}

.prayer2 .bookmark-top{
  justify-content: space-around;
}

.prayer2 .prayer-card{
  margin-top: 10px;
}

.prayer-send{
  padding: 10px;
  margin-top: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.send{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.send input{
  text-indent: 10px;
  background-color: transparent;
  border: none;
}

.send input:focus{
  outline: none;
}

.donation{
  /*background-color: beige;*/
  margin-top: -10vh;
  height: 100vh;
}

.donation-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donation-top-btn button{
  border-radius: 5px;
  background-color: rgba(53, 224, 31, 0.2);
  margin: 10px 5px;
  border: 1px solid transparent;
}

.donation-img{
  background-image: url(./image/baby2.jpg);
  position: relative;
  height: 50vh;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
}

.donation-circle{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.donation-circle *{
  margin: 2px;
}

.donation-txt{
  border-bottom: 1px solid lightgrey;
}


.donation-txt-top{
  display: flex;
  align-items: center;
  /*justify-content: space-evenly;*/
  margin-top: -10px;
  margin-left: 10px;
}

.donation-txt-top p:first-child{
  color: #35e01f;
  margin-right: 10px;
}

.donation .urgent-bar{
  width: 95%;
}

.donation .urgent-end{
  margin: 0 10px;
  justify-content: space-between;
}

.donation-mid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.donation-mid button{
  color: #35e01f;
  border-radius: 10px;
  border: 1px solid #35e01f;
  background-color: transparent;
  /*padding: 0 10px;*/
  width: 25%;
}

.donation-mid-end{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.donators{
  background-image: url(./image/dp.jpg);
  padding: 10px;
  border-radius: 50%;
  object-fit: contain;
  background-position: 50% 50%;
  background-size: cover;
}

.donation-mid-end p{
  margin-left: 5px;
  margin-right: 5px;
}

.donation .nxt{
  width: 95%;
  margin-bottom: 20px;
}

.fundraiser{
  text-align: left;
}

.fund-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fund-main-mid{
  display: flex;
  align-items: center;
}

.fund-main-end{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
}

.fund-main button:first-child, .fund-main-last button:first-child{
  border-radius: 50%;
  padding: 5px;
  background-color: #D8FDE1;
  border: 1px solid transparent;
  margin-right: 10px;
}

.fund-main button:last-child{
  padding: 5px 20px;
  color: #35e01f;
  background-color: white;
  border: 2px solid #35e01f;
  border-radius: 20px;
}

.fund-usage{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fund-usage button{
  padding: 5px 20px;
  border-radius: 20px;
  color: #35e01f;
  background-color: transparent;
  border: 2px solid #35e01f;
}
/*
.story-dt{
  display: flex;
  align-items: center;
  justify-content: baseline;
}*/

.story-dt p:last-child{
  margin-top: -10px;
}

.story{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.donate-main{
  position: relative;
  height: 100vh;
}

.donated{
  width: 100%;
  height: 20vh;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #35e01f;
  font-size: 20px;
  font-weight: bold;
  color: #35e01f;
  margin-bottom: 10px;
}

.amount{
  display: grid;
  grid-template: auto/auto auto auto;
  grid-gap: 15px;
  border: 2px solid #f0f0f0;
  border-style: solid none;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.amount button{
  padding: 10px;
  color: #35e01f;
  background-color: transparent;
  border: 2px solid #35e01f;
  border-radius: 20px;
}

.anonymus{
  text-align: left;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.anonymus input{
  margin-right: 10px;
}

.donate-end{
  position: absolute;
  width: 100%;
  /*bottom: 10px;*/
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}











@media screen and (max-width: 768px){
  .select-country{
    width: 90vw !important;
  }
  .country-list{
    margin-top: 10px !important;
  }

  .flag-dropdown {
    background-color: transparent !important;
  }

  .flag{
    margin-right: 20px !important;
  }

  .country.preferred:first-child {
    margin-top: 20px !important;
  }

  .country-select .country-list{
    max-height: 35vh !important;
    position: relative !important;

  }

}
